#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button {
  padding: 10px;
  background-color: #52b955;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #3d9141;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #e3f2fd;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #e3f2fd
}

.card {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #e3f2fd;
  text-align: center;
}

.read-the-docs {
  color: #888;
}
